/*Typography*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');


.main-container{
  padding: 5rem;
}

.header-container{
  display: flex;
  align-items: center;
}

.header-details{
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  color: #333333;
  font-size: 1.5rem;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem;
  gap: 10rem;
}

.scarecrow-photo {
  width: 300px;
  height: 100%;
  margin-top: 4rem;
}

.section-title{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #333333;
  font-size: 4rem;
  margin: 0;
}

.section-details{
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  color: #4F4F4F;
  line-height: 2.25rem;
}

.btn{
  width: 216px;
  height: 68px;
  position: absolute;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 0.875rem;
  text-transform: uppercase;
  background-color: #333333;
  border: none;
  transition: all 200ms;
}

.btn:hover{
  background-color: #FFFFFF;
  color: #333333;
  border: 2px solid #333333;
  cursor: pointer;
}

.footer-container{
  text-align: center;
  width: 287px;
  height: 20px;
  margin: 0 auto;
}

.footer-details{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #BDBDBD;
  font-size: 0.875rem;
}

@media only screen and (max-width: 500px){
  .main-container{
    padding: 0;
  } 
  
  .header-container{
    margin-left: 1rem;
  } 
  
  .scarecrow-photo {
    width: 290px;
    height: 100%;
    margin-top: 4rem;
  }
  
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 10rem;
  }
  
  .section-title{
    text-align: center;
  }
  
  .section-details{
    text-align: center;
  }
  
  .btn{
    position: relative;
  }
}
